---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

const { frontmatter } = Astro.props;
---

<Navigation />

<img src={frontmatter.image.url} alt={frontmatter.image.alt} class="mx-[50px] w-[90%]  mt-[30px]"/>
<div>
    <h1 class="text-6xl font-bold mx-[90px] mt-7"> {frontmatter.title} </h1>
    <p class="mt-3 mx-[90px] md:text-sm text-lg">Published on {frontmatter.pubDate.slice(0, 10)}</p>
</div>
<div class="m-[50px] p-[40px] md:text-2xl text-3xl">
    <slot />
</div>


<script>
    import "../scripts/menu.js"
</script>
